body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.container{
    background-color: rgb(45, 46, 45);
    display: grid; 
    grid-template-columns:  1fr 1fr 1fr 1fr ;  
    border-radius: 20px;
    padding: 10px;
}

.child{
   padding: 20px;
   background-color:rgb(226, 99, 19) ;
   gap: 2px;
   border-radius: 8px;
   margin: 2px;
}

.child5{
    background-color: rgb(24, 41, 88);
    color: antiquewhite;
}

.child1{
   grid-column: 1/5;
 background-color: rgb(199, 194, 194);
}

.child18{
    grid-column: span 2;
    text-align: center;
    background-color: rgb(24, 41, 88);
    color: aliceblue;
}

.child19{
    text-align: center;
    grid-column: span 2;
    grid-column: 3/5;
    background-color: rgb(194, 54, 19);
   
  }
 
